<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender" >
		<Encoding>UTF-8</Encoding>
		<encoder>
			<pattern>%d %p [%t] [%c]:%L - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>d:/tmp/%d{yyyy-MM-dd-HH'.log'}</fileNamePattern>
		</rollingPolicy>
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="java.sql.PreparedStatement" level="INFO" />
	<logger name="ch.qos.logback" level="WARN" />
	<logger name="com.chinasofti.ssmdemo.ssm" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>